/* Hex code of color used was  #55A8AE; */


/* The Logo is hand drawn */


/* All other resources should be downloaded on your own */


/* @import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu&display=swap");
 */


/* font-family: Ubuntu,
sans-serif;
font-family: Lora,
serif; */

@import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu&display=swap");
* {
    --primary: #55A8AE;
    padding: 0;
    margin: 0;
}

html,
body {
    box-sizing: border-box;
    height: 100%;
    font-family: serif, sans-serif;
    line-height: 1.4;
    font-family: serif, sans-serif;
}

.btn {
    text-decoration: none;
    text-align: center;
    color: white;
    background: var(--dark);
    padding: 0.8rem 1.1rem;
    margin: 0;
}

.nav {
    background: var(--primary);
    height: 80px;
    width: 100%;
}

.logo img {
    background: white;
    height: 60px;
    margin: 10px;
}

.nav ul {
    float: right;
    margin-right: 20px;
}

.nav ul li {
    display: inline-block;
    line-height: 20px;
}

.nav ul li a {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    margin: 25px 0;
    border-radius: 3px;
    background: var(--primary);
}

.nav a:hover {
    background: white;
    color: var(--primary);
}

.footer {
    background: var(--primary);
    color: white;
    height: 400px;
    position: relative;
}

.footer .footer-bottom {
    background: var(--primary);
    color: white;
    height: 50px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

.footer .footer-content {
    height: 350px;
    display: flex;
    margin: 5px;
}

.footer .footer-content .footer-section {
    flex: 1;
    padding: 10px 20px;
}

.footer .footer-content h2,
.footer .footer-content h2 a {
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 1.5rem;
    border-radius: 5px;
}

.footer .footer-content h2 a:hover {
    color: white;
    border: 1px solid white;
}

.footer .footer-content .connect .contact span {
    display: block;
    font-size: 1rem;
    margin-bottom: 8px;
}

.footer .footer-content .connect .social span {
    border: 1px solid black;
    width: 30px;
    height: 20px;
    padding-top: 2px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    border-radius: 5px;
}

.footer .footer-content .connect .social span i {
    height: 15px;
}

.footer .footer-content .connect .social span:hover {
    border: 1px solid wheat;
    color: white;
}

.footer .footer-content .connect .contact span i {
    height: 15px;
    padding: 5px;
    background: var(--primary);
}

.footer .footer-content .care {
    margin-top: 60px;
    text-align: center;
}

.footer .footer-content .care ul a {
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
    list-style: none;
}

.footer .footer-content .care ul a:hover {
    color: white;
    margin-left: 15px;
    transition: all .3s;
}

.footer .footer-content .links {
    margin-top: 60px;
    text-align: center;
}

.footer .footer-content .links ul a {
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
    list-style: none;
}

.footer .footer-content .links ul a:hover {
    color: white;
    margin-left: 15px;
    transition: all .3s;
}

.facilities {
    background: white;
    position: relative;
    height: 700px;
    color: var(--primary);
    text-align: center;
}

.facility-box {
    background: url(Resources/facility.jpg) no-repeat center center;
    opacity: 0.5;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 500px;
    margin-top: 100px;
    color: white;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.facility-box .facility-icon span i {
    color: white;
    margin: 30px;
    max-height: 120px;
}

.facility-box .facility-icon h3 {
    font-size: 20px;
    text-align: center;
}