



.testimonials .testimonials-header{
     
    align-items: center;
    height: 4.9vh;   
    margin: 6vw 0 5vw 0;
    
    }
    
    
    
    .testimonials .testimonials-header h1{
    
        font-family: Montserrat;
       
        font-weight: bolder;
        font-size: 4.4vw;
        line-height: 4.9vw;    
        color: #55A8AE;
        text-align: center;
        margin-bottom: 0;
        padding-right: 0.1vw;
    }
    
    .testimonials .testimonials-header span {
     display: flex;
     justify-content: space-between;
     padding: 0;
     padding-right: 0.5vw;
    }
    
    .testimonials .header-arrow{
      background-color:lightgray;
      height: 3.7vw;
      width: 3.7vw;
      font-size: 15px;
      border-radius: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center; 
      margin: 5px;
    }
    .testimonials .header-arrow img{
        height: 60%;
        width: 60%;
    }

.testimonials .testimonials-list{
    justify-content: center;
    padding-bottom: 4vw;
}

    .testimonials .testimonials-item {
        font-family: Montserrat;
        font-size: 15px;
        line-height: 18px;
        display: block;
        align-items: center;
        text-align: center;
       
    }

    .testimonials .testimonials-item p{
       margin: 1vw 0;
    }
    
    
    .testimonials .testimonials-item p span{
        display: block;
        font-style: italic;
        font-weight: 500;
        font-size: 16.5px;
        line-height: 20px;
        margin-top: 1vw;
    }


    @media (max-width:600px){
        .testimonials .testimonials-header h1{
            font-size: 4.15vh;
            line-height: 6.2vh; 
            }

            .testimonials .header-arrow{
                display: none;
             }
        }